{% extends 'base.html' %}
{% block title %}Şifre Sıfırla{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow mt-5">
      <div class="card-body">
        <h3 class="card-title text-center mb-3">Şifre Sıfırla</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">E-posta Gönder</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
